body{
    background-color: rgb(163, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}















.reportSize{
    width: 630px;
    height: 1000px;
    background-color: white;
    border-top: 5px solid orange;
   

}

.banner{
    width: 100%;
   
    height: 300px;
}

.logo{
    width: 35%;
    z-index: 100;
    margin: 10px;
    margin-left: 20px;
    
}

.socials{
    background-color: black;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    
}

.socialsCon{
   gap: 2px; 
   display: flex;
   float: right;
   margin-top: 30px;
   margin-right: 20px;
}